
// 储能箱
.charge_mark_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/charge_mark_cnx.svg);
}
.discharge_mark_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/discharge_mark_cnx.svg);
}
.standby_mark_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/standby_mark_cnx.svg);
}
.alarm_mark_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/base_mark_cnx.svg);
}


.charge_cell_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/charge_cell_cnx.svg);
}
.discharge_cell_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/discharge_cell_cnx.svg);
}
.standby_cell_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/stanbdy_cell_cnx.svg);
}
.alarm_cell_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/alarm_cell_cnx.svg);
}

.weihu_cell_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/weihu_cell_cnx.svg);
}

.offline_cell_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/offline_cell_cnx.svg);
}

.base_cell_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/base_cell_cnx.svg);
}


// 储能柜
.charge_mark_cng {
    background-size: contain;
    background-image: url(../../assets/svgs/common/charge_mark_cng.svg);
}
.discharge_mark_cng {
    background-size: contain;
    background-image: url(../../assets/svgs/common/discharge_mark_cng.svg);
}
.standby_mark_cng {
    background-size: contain;
    background-image: url(../../assets/svgs/common/standby_mark_cng.svg.svg);
}
.alarm_mark_cnx {
    background-size: contain;
    background-image: url(../../assets/svgs/common/alarm_mark_cng.svg);
}


.charge_cell_cng {
    background-size: contain;
    background-image: url(../../assets/svgs/common/discharge_cell_cng.svg);
}
.discharge_cell_cng {
    background-size: contain;
    background-image: url(../../assets/svgs/common/charge_cell_cng.svg);
}
.standby_cell_cng {
    background-size: contain;
    background-image: url(../../assets/svgs/common/standby_cell_cng.svg);
}
.alarm_cell_cng {
    background-size: contain;
    background-image: url(../../assets/svgs/common/alarm_cell_cng.svg.svg);
}

.weihu_cell_cng {
    background-size: contain;
    background-image: url(../../assets/svgs/common/weihu_cell_cng.svg.svg);
}

.offline_cell_cng {
    background-size: contain;
    background-image: url(../../assets/svgs/common/offline_cell_cng.svg.svg);
}

.base_cell_cng {
    background-size: contain;
    background-image: url(../../assets/svgs/common/base_cell_cng.svg.svg);
}
