// icon
.icon {
    background-size: cover;
    background-repeat: no-repeat;
}


// 菜单icon
.menu_monitor {
    background-image: url(../../assets/icons/common/menu_monitor.svg);
}

.menu_dataAnalysis {
    background-image: url(../../assets/icons/common/menu_dataAnalysis.svg);
}

.menu_parkMdle {
    background-image: url(../../assets/icons/common/parkMdle.svg);
}

.menu_tem {
    background-image: url(../../assets/icons/common/menu_tmp.svg);
}

.menu_config {
    background-image: url(../../assets/icons/common/menu_config.svg);
}

.menu_income {
    background-image: url(../../assets/icons/common/incomeAnalysis.svg);
}

.menu_jue_ce {
    background-image: url(../../assets/icons/common/jue_ce.svg);
}


.icon_parkselect {
    background-image: url(../../assets/icons/common/parkSlectIcon.svg);
}

.icon_viewmodel {
    background-image: url(../../assets/icons/common/vivewModelIcon.svg);
}

.icon_cnx {
    background-image: url(../../assets/image/overview/cnx_icon.png);
}

.icon_cng {
    background-image: url(../../assets/image/overview/cng_icon.png);
}






.icon_day_charge_green {
    background-image: url(../../assets/icons/common/day_charge_green.svg);
}

.icon_day_discharge_green {
    background-image: url(../../assets/icons/common/day_discharge_green.svg);
}

.icon_active_power_green {
    background-image: url(../../assets/icons/common/active_power_green.svg);
}

.icon_reactactive_power_green {
    background-image: url(../../assets/icons/common/reactactive_power_green.svg);
}

.ionc_cos {
    background-size: contain;
    background-image: url(../../assets/icons/common/soc.svg);
}

.icon_state_charge {
    background-image: url(../../assets/icons/common/charge_state.svg);
}

.icon_state_discharge {
    background-image: url(../../assets/icons/common/discharge_state.svg);
}

.icon_state_standby {
    background-image: url(../../assets/icons/common/standby_state.svg);
}

.icon_state_alarm {
    background-image: url(../../assets/icons/common/alarm_state.svg);
}

.icon_state_weihu {
    background-image: url(../../assets/icons/common/weihu_state.svg);
}

.icon_state_offline {
    background-image: url(../../assets/icons/common/offline_state.svg);
}

// 
.icon_charge_grenn {
    background-image: url(../../assets/icons/common/charge_blue.svg);
}

.icon_discharge_grenn {
    background-image: url(../../assets/icons/common/discharge_blue.svg);
}

.icon_active_power_grenn {
    background-image: url(../../assets/icons/common/activePower_blue.svg);
}

.icon_reactive_power_grenn {
    background-image: url(../../assets/icons/common/activePower_blue.svg);
}

// 运行状态
.icon_runing_chager {
    background-size: contain;
    background-image: url(../../assets/icons/common/runing_chager.svg);
}

.icon_runing_dischager {
    background-size: contain;
    background-image: url(../../assets/icons/common/runging_discharge.svg);
}

.icon_runing_alarm {
    background-size: contain;
    background-image: url(../../assets/icons/common/runing_alarm.svg);
}

.icon_runing_standy {
    background-size: contain;
    background-image: url(../../assets/icons/common/runing_standy.svg);
}

.icon_runing_weihu {
    background-size: contain;
    background-image: url(../../assets/icons/common/runing_weihu.svg);
}

.icon_runing_offline {
    background-size: contain;
    background-image: url(../../assets/icons/common/runing_offline.svg);
}


// 
.icon_dinaya_green {
    background-size: contain;
    background-image: url(../../assets/icons/common/dianya_green.svg);
}

.icon_dinaliu_green {
    background-size: contain;
    background-image: url(../../assets/icons/common/dianliu_green.svg);
}
