@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./rotVariable.scss);
@import url(./deviceBattery.scss);
@import url(./icons.scss);

* {
    font-size: 14px;
    font-family: alipuhuitir;
}

#app {
    height: 100vh;
}


// 进度条颜色
#nprogress .bar {
    background: var(--charge);
}

html {
    background-color: var(--theme-gray-bg);
    min-width: 1460px;
    overflow-x: auto;
}

#app {
    min-height: 100vh;
    min-width: 1460px;
    overflow-x: auto;
}

.f-din {
    font-family: D-DIN;
}

.f-dinb {
    font-family: D-DIN-Bold;
}

.f-pangmenTitle {
    font-family: pangmenTitle;
}




// 设备运行状态颜色
.charge_color {
    color: var(--charge) !important;
}

.discharge_color {
    color: var(--discharge) !important;
}

.standby_color {
    color: var(--standby) !important;
}

.alarm_color {
    color: var(--alarm) !important;
}

.weihu_color {
    color: var(--weihu) !important;
}

.offline_color {
    color: var(--offline) !important;
}


// 设备运行状态背景颜色
.charge_color_bg {
    background-color: var(--charge) !important;
}

.discharge_color_bg {
    background-color: var(--discharge) !important;
}

.standby_color_bg {
    background-color: var(--standby) !important;
}

.alarm_color_bg {
    background-color: var(--alarm) !important;
}

.weihu_color_bg {
    background-color: var(--weihu) !important;
}

.offline_color_bg {
    background-color: var(--offline) !important;
}



// 
.el-table thead th.el-table__cell {
    background-color: rgba(14, 169, 68, .05) !important;
    font-weight: normal;
}


// 
.el-loading-mask {
    opacity: 0.5 !important;
}