:root {


    // *********************************************** ------------ *********************************************** //
    // ***********************************************              *********************************************** //
    // ***********************************************   背景色      *********************************************** //
    // ***********************************************              *********************************************** //
    // *********************************************** ------------ *********************************************** //
    /** 主题色 */
    --theme-green-bg: rgba(14, 169, 68);
    /** 主题灰色 */
    --theme-gray-bg: rgba(244, 246, 246, 1);
    /** 主题灰色 235*/
    --theme-gray235-bg: rgba(235, 242, 240, 1);
    /** 主题灰色 251*/
    --theme-gray251-bg: rgba(251, 252, 252, 1);
    /** 主题白色 */
    --theme-white-bg: rgba(255, 255, 255, 1);
    /** 主题白色 透明度 0.4*/
    --theme-white-a4-bg: rgba(255, 255, 255, 0.478);
    /** 主题白色 透明度 0.47*/
    --theme-white-a7-bg: rgba(255, 255, 255, 0.7);
    /** 主题白色 244 */
    --theme-white-f4-bg: rgb(244, 244, 244);
    /** 表头背景色 */
    --theme-t-header-bg: rgba(14, 169, 68, 0.05);





    // *********************************************** ------------ *********************************************** //
    // ***********************************************              *********************************************** //
    // ***********************************************   覆盖UI样式  *********************************************** //
    // ***********************************************              *********************************************** //
    // *********************************************** ------------ *********************************************** //
    --el-color-primary: var(--theme-green-bg) !important;




    // *********************************************** ------------ *********************************************** //
    // ***********************************************              *********************************************** //
    // ***********************************************   文字颜色      ********************************************* //
    // ***********************************************              *********************************************** //
    // *********************************************** ------------ *********************************************** //

    // 黑色
    --theme-black51: rgba(51, 51, 51, 1);


    // 灰色
    --theme-gray153: rgba(153, 153, 153, 1);
    --theme-gray107: rgba(107, 107, 107, 1);


    // 主题蓝色
    --theme-blue0: rgba(0, 109, 184, 1);


    // 状态颜色
    --charge: var(--theme-green-bg);
    --discharge: rgb(0, 109, 184);
    --standby: rgb(230, 184, 0);
    --alarm: rgb(235, 101, 49);
    --weihu: rgb(143, 103, 244);
    --offline: rgb(197, 198, 199);

}