:root {

    // 背景色
    --theme-gray-bg: rgba(244, 246, 246, 1);
    --theme-white-bg: rgba(255, 255, 255, 1);
    --theme-green-bg: rgba(14, 169, 68, 1);


    // 覆盖el样式
    --el-color-primary: var(--theme-green-bg) !important;


    // 文字颜色

    // 黑色
    --theme-black51: rgba(51, 51, 51, 1);

    // 灰色
    --theme-gray153: rgba(153, 153, 153, 1);

}