// *********************************************** ------------ *********************************************** //
// ***********************************************              *********************************************** //
// ***********************************************   样式覆盖    *********************************************** //
// ***********************************************              *********************************************** //
// *********************************************** ------------ *********************************************** //



// 进度条颜色
#nprogress .bar {
    background: var(--theme-green-bg) !important;
}


// 重置编辑器样式
.markdown-body {
    .v-note-panel  {
        .v-show-content {
            ul {
                li {
                    list-style: disc !important;
                }
            }
            ol {
                li {
                    list-style: auto !important;
                }
            }
        }
    }
}


// 表格header背景色
.el-table thead th.el-table__cell {
    font-weight: normal;
    color: var(--theme-black51) !important;
    background-color: var(--theme-t-header-bg) !important;
}


// loading 蒙层
.el-loading-mask {
    opacity: 0.5 !important;
}


