// ***********************************************            *********************************************** //
// ***********************************************   轮播图    *********************************************** //
// ***********************************************            *********************************************** //

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}






// ***********************************************              *********************************************** //
// ***********************************************   淡入淡出    *********************************************** //
// ***********************************************              *********************************************** //
.opacity-enter-active {
    transition: all 0.5s ease-out;
}

.opacity-leave-active {
    opacity: 1;
    transition: all 0.3s ease-out;
}

.opacity-enter-from,
.opacity-leave-to {
    opacity: 0;
}






// ***********************************************              *********************************************** //
// ***********************************************   组合模式    *********************************************** //
// ***********************************************              *********************************************** //
.scale-slide-enter-active,
.scale-slide-leave-active {
    position: absolute;
    transition: all 0.85s ease;
}

.scale-slide-enter-from {
    left: -100%;
}

.scale-slide-enter-to {
    left: 0%;
}

.scale-slide-leave-from {
    transform: scale(1);
}

.scale-slide-leave-to {
    transform: scale(0.9);
}
